<launch>
    <!-- <arg name="model" default="$(find kiwi_drive)/urdf/rover.urdf.xacro"/> -->
    <param name="robot_description" command="$(find xacro)/xacro $(find kiwi_drive)/urdf/rover.urdf.xacro"/>
    <arg name="rviz_config_file" default="$(find kiwi_drive)/config/config.rviz"/>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher" output="screen"/>
    <node pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="joint_state_publisher_gui" output="screen"/>
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config_file)"/>

</launch>
